---
import "../styles/global.css";
import MainLayout from '../layouts/MainLayout.tsx';

---
<html lang="en">
  <head>
    <title>About | Team CA</title>
  </head>
  <body>
    <MainLayout client:load>
      
    </MainLayout>
  </body>
</html>