---
import "@/styles/global.css";
import MainLayout from '@/layouts/MainLayout.tsx';
import AboutHero from '@/components/hero/AboutHero.tsx';
import Mission from "@/components/sections/about/Mission";
import WhatWeStandFor from "@/components/sections/about/WhatWeStandFor";
import Founder from "@/components/sections/about/Founder";
import Recognition from "@/components/sections/about/Recognition";


---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#ac1212" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/teamca-white-circle-logo.png" />
    <title>About | Team CA</title>
  </head>
  <body>
    <MainLayout client:load>
      <AboutHero client:load />
      <Mission client:load />
      <WhatWeStandFor client:load />
      <Founder client:load />

      <Recognition client:load />

    </MainLayout>
  </body>
</html>
