---
import "../styles/global.css";
import MainLayout from '../layouts/MainLayout.tsx';
import HomeHero from '../components/hero/HomeHero.tsx';
import WhatWeDo from '../components/sections/home/WhatWeDo.tsx';
import WhoWeAre from '../components/sections/home/WhoWeAre.tsx';
import Testimonials from '../components/sections/home/Testimonials.tsx';
import CTA from '../components/sections/CTA.tsx';

---
<html lang="en">
  <head>
    <title>Home | Team CA</title>
  </head>
  <body>
    <MainLayout client:load>
      <HomeHero client:load />
      <WhoWeAre client:load />
    </MainLayout>
  </body>
</html>