---
import "../styles/global.css";
import MainLayout from '../layouts/MainLayout.tsx';
import HomeHero from '../components/hero/HomeHero.tsx';
import WhatWeDo from '../components/sections/home/WhatWeDo.tsx';
import WhoWeAre from '../components/sections/home/WhoWeAre.tsx';
import WhyFinancialMatters from '../components/sections/home/WhyFinancialMatters.tsx';
import Testimonials from '../components/sections/home/Testimonials.tsx';
import CTA from '../components/sections/CTA.tsx';

---
<html lang="en">
  <head>
    <title>Home | Team CA</title>
  </head>
  <body>
    <MainLayout client:load>
      <HomeHero client:load />
      <WhatWeDo  client:load/>
      <WhoWeAre client:load />
      <WhyFinancialMatters client:load />
      <Testimonials client:load />
      <CTA client:load
        title="Be a Valued Financial Advisor"
        subtitle="Looking for a meaningful career?"
        contrast="dark"
        buttonText="Sign Up"
        buttonLink="#"
        bgImage="/images/home/financial-advisors-2.jpg"
      />
    </MainLayout>
  </body>
</html>