---
import RouteGuard from '../components/common/RouteGuard';
import Sidebar from '../components/common/Sidebar';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <RouteGuard mode="protected" client:load />
    <div class="dashboard-layout">
      <!-- Sidebar -->
      <aside class="sidebar">
        <Sidebar client:load />
      </aside>

      <!-- Main -->
      <main>
        <header>
          <!-- Header -->
        </header>

        <slot />
      </main>
    </div>
  </body>
</html>
