---
// redirects to login, main dashboard
import RouteGuard from '../components/common/RouteGuard';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeamCA</title>
  </head>
  <body>
    <RouteGuard mode="root" client:load />
  </body>
</html>
